{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Distribuidora - SantaTeresita</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">  
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/2745f6f530/UntitledProject/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- Jquery saber explicar-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script> <!-- Validador jquery-->
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Patrick+Hand|Permanent+Marker|Special+Elite&display=swap" rel="stylesheet">   
</head>
<body>
<header>
   {% if request.user.is_authenticated %}
      <p class="color">Bienvenido, {{request.user.username}} | <a href="/logout">Cerrar sesión</a> </p> 
  {% else %}
      <p class="color"><a class="color" href="/registrar">¡REGISTRATE!</a> | <a class="color" href="/login">¡LOGEATE!</a></p>
  {% endif %}
 <!-- NavBar -->
 <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                      <li><a class="f-menu" href="/">INICIO</a></li>
                      <li><a class="f-menu" href="/productos">PRODUCTOS</a></li>
                      <li><a class="f-menu" href="/nosotros">NOSOTROS</a></li>
                    </ul>
               </div>
          </div>
      </div>
  </div>
</header>
  
<main>
 <!-- Redes sociales / Flotante-->
 <div class="social-bar">
   <a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"></a>
   <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"></a>
   <a href="https://www.twitter.com" class="icon icon-twitter" target="_blank"></a>
 </div>
    
 <!--Contenido banner-->
 <header class="showcase">
   <div class="container showcase-inner">
      <h1 class="f-menu" >BIENVENIDO</h1>
      <h2 class="s-banner" >DISTRIBUIDORA SANTA TERESITA</h2>
      <p class="f-menu" id="intro" >Tenemos las mejores marcas a muy buen precio, poseemos una gran variedad de licores y bebidas a su disposición, 
        solo debes elegir tus productos, te recomendamos revisar nuestras ofertas que te pueden interesar.   Se hacen envios a todo Chile.</p>
      <a id="c-banner" onclick="smoothScroll(document.getElementById('second'))" class="btn">COMPRAR</a>
   </div>
 </header>

 <!-- Ofertas -->
 <section class="f1 row">
   <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2 id="second" class="s-banners Oferta">Las Ofertas diesiocheras comienzan en : 
        <span id="clock"></span></h2>
        <script src="{% static 'js/scroll.js' %}"></script>
        <script src="{% static 'js/countdown.js' %}"></script>
        <div class="s-banner Oferta">
          <a href="/ofertas"> <img src="{% static 'img/bann/ofertas-300x216.png' %}" alt=""> 
                <h1>CONOCE NUESTRAS OFERTAS!</h1> </a>
        </div>
   </article>
 </section>

 <!--Categorias-->
 <section class="f1 f-menu row">
        <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
           <div class="Categoria">
                <a href="/productos"> <img src="{% static 'img/bann/ron.png' %}" alt=""> <h1> RON</h1> </a>
           </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
           <div class="Categoria">
                <a href="/productos"> <img src="{% static 'img/bann/pisco1.png' %}" alt=""> <h1> PISCO</h1> </a>
           </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
           <div class="Categoria">
                <a href="/productos"> <img src="{% static 'img/bann/vodka.png' %}" alt=""> <h1> VODKA</h1> </a>
           </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
           <div class="Categoria">
                <a href="/productos"> <img src="{% static 'img/bann/tequila.png' %}" alt=""> <h1> TEQUILA</h1> </a>
           </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
           <div class="Categoria">
                <a href="/productos"> <img src="{% static 'img/bann/vino.png' %}" alt=""> <h1> VINO</h1> </a>
           </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
           <div class="Categoria">
                <a href="/productos"> <img src="{% static 'img/bann/cerveza.png' %}" alt=""> <h1> CERVEZA</h1> </a>
           </div>
        </article>

        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
           <div class="Categoria">
                <a href="/productos"> <img src="{% static 'img/bann/espumante.png' %}" alt=""> <h1> ESPUMANTE</h1> </a>
           </div>
        </article>       
 </section>
</main>

<footer class="footer">
   <div class="footer-bottom">
        &copy; santateresita.com | created by Romina Castillo 
   </div>
</footer>

</body>
</html>