{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Distribuidora - SantaTeresita</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/2745f6f530/UntitledProject/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Jquery saber explicar-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <!-- Validador jquery-->
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Patrick+Hand|Permanent+Marker|Special+Elite&display=swap"
        rel="stylesheet">
</head>

<body>
        <div id="usuario">
                <p class="login">
                    Bienvenido <b>{{request.user.username}}</b>!
                    <a href="/logout">Cerrar sesión</a>
                </p>
          
              </div>
    <!-- NavBar -->
    <header class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a class="f-menu" href="/">INICIO</a></li>
                      <li><a class="f-menu" href="/productos">PRODUCTOS</a></li>
                      <li><a class="f-menu" href="/nosotros">NOSOTROS</a></li>
                      <li><a class="f-menu" href="/registrar">¡REGISTRATE!</a></li>
                      <li><a class="f-menu" href="/login">¡LOGEATE!</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Redes sociales / Flotante-->
        <div class="social-bar">
            <a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"></a>
            <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"></a>
            <a href="https://www.twitter.com" class="icon icon-twitter" target="_blank"></a>
        </div>
    </header>

    <!-- QUIENES SOMOS -->
    <section class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <h1 class="tit2">¿QUIÉNES SOMOS?</h1>
            </div>
            <div class="cajon">
                <p class="parrafo">Somos una empresa distribuidora de licores con alcances en toda la quinta región de
                    Valparaíso
                    y comunas. Realizamos entregas a reparto en boleta o factura. Llámanos, Además, contamos con
                    botillerías asociadas a lo largo
                    de la región a las cuales acudir y realizar tus compras como persona natural.</p>
            </div>

            <!-- DONDE ENCONTRARNOS -->
            <div>
                <h1 class="tit2">¿DÓNDE ENCONTRARNOS?</h1>
            </div>

            <div class="cajon">
                <h2 class="tit">Puedes visitarnos en los siguientes lugares</h2>
                <h4 class="tit">Te invitamos a que te nos acerques O comunícate a travez de nuestras redes sociales!
                </h4>
            </div>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="cajon">
                <h2 class="tit">Santa Teresita</h2>
                <h3 class="tit">Yungai con San Ignacio Nro 3556</h3>
                <h5 class="tit">Fax: 33-2342-1212</h5>
                <h5 class="tit">Teléfono: 258830</h5>
            </div>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="cajon">
                <h2 class="tit">Los Porteños</h2>
                <h3 class="tit">Pedromontt con Av. Argentina Nro 4009</h3>
                <h5 class="tit">Fax: 33-2342-1212</h5>
                <h5 class="tit">Teléfono: 218830</h5>
            </div>
        </article>
    </section>

    <!-- Mapa de google -->
    <div>
        <h1 class="tit2">NUESTRA UBICACIÓN EN TIEMPO REAL</h1>
    </div>
    <section class="caja">
        <div class="contenedor">
            <div class="caja__columna">
                <iframe class="mapa_posicion"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1837.1326968941303!2d-71.61269319924615!3d-33.046227012894164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689e0daf43e1915%3A0xd9d2bf2fb234947b!2sSan%20Ignacio%20%26%20Yungay%2C%20Valpara%C3%ADso%2C%20Regi%C3%B3n%20de%20Valpara%C3%ADso!5e0!3m2!1ses-419!2scl!4v1568015760183!5m2!1ses-419!2scl"
                    width="600" height="450" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </section>

    <!-- CONTACTO VIA MAIL-->
    <section class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <h1 class="tit2">¿QUIERES CONTACTARTE VÍA MAIL?</h1>
            </div>

            <div class="cajon">
                <p class="parrafo">Si necesitas contactarte con nosotros. Haznos el favor de enviar un correo
                    Indicanonos
                    los siguientes campos:</p>
                <h4 class="tit">*Nombre y Apellido</h4>
                <h4 class="tit">*Rut</h4>
                <h4 class="tit">*Email</h4>
                <h4 class="tit">*Celular</h4>
                <h4 class="tit">*Fecha</h4>
                <h4 class="tit">*Comentario</h4>

                <p class="parrafo">Una vez recibido el mensaje, Uno de nuestros ejecutivos se encargará
                    de contactarle a la brevedad.</p>
            </div>
        </article>
    </section>

    <section class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <form method="POST" id="contacto" class="formulario">
                    {% csrf_token %}
                    
                    <h3 class="tit2">DEJE SUS DATOS DE CONTACTO: </h3>   
                    {{ form.as_p }}

                    <button type="submit" id="boton">Enviar</button>
                </form>
            </div>
        </article>
    </section>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        var today = new Date().toISOString().split('T')[0];
        document.getElementsByName("somedate")[0].setAttribute('min', today);
        document.getElementsByName("somedate")[0].setAttribute('max', today);
    </script>
</body>