{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Distribuidora - SantaTeresita</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/2745f6f530/UntitledProject/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Jquery saber explicar-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <!-- Validador jquery-->
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Patrick+Hand|Permanent+Marker|Special+Elite&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- NavBar -->
    {% if request.user.is_authenticated %}
      <p class="color">Bienvenido, {{request.user.username}} | <a href="/logout">Cerrar sesión</a> </p> 
  {% else %}
      <p class="color"><a class="color" href="/registrar">¡REGISTRATE!</a> | <a class="color" href="/login">¡LOGEATE!</a></p>
  {% endif %}
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a class="f-menu" href="/">INICIO</a></li>
                        <li><a class="f-menu" href="/productos">PRODUCTOS</a></li>
                        <li><a class="f-menu" href="/nosotros">NOSOTROS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Redes sociales / Flotante-->
    <div class="social-bar">
        <a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"></a>
        <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"></a>
        <a href="https://www.twitter.com" class="icon icon-twitter" target="_blank"></a>
    </div>

    <!--Contenido ofertas-->


    <section class="row">
        <article class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
            <ul class="galeria">
                <li><a href="#img1"><img src="{% static 'img/oferta/ofer1.jpg' %}"></a></li>
                <li><a href="#img2"><img src="{% static 'img/oferta/ofer2.jpg' %}"></a></li>
                <li><a href="#img3"><img src="{% static 'img/oferta/ofer3.jpg' %}"></a></li>
            </ul>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="galeria">
                <li><a href="#img4"><img src="{% static 'img/oferta/ofer4.webp' %}"></a></li>
                <li><a href="#img3"><img src="{% static 'img/oferta/ofer5.jpg' %}"></a></li>
                <li><a href="#img4"><img src="{% static 'img/oferta/ofer6.jpg' %}"></a></li>
            </ul>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="galeria">
                <li><a href="#img3"><img src="{% static 'img/oferta/ofer7.png' %}"></a></li>
                <li><a href="#img4"><img src="{% static 'img/oferta/ofer8.jpg' %}"></a></li>
                <li><a href="#img4"><img src="{% static 'img/oferta/ofer9.png' %}"></a></li>
            </ul>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">

            <div class="modal" id="img1">
                <h3>Conoce nuestras ofertas</h3>
                <div class="imagen">
                    <a href="#img4">&#60;</a>
                    <a href="#img2"><img src="{% static 'img/oferta/ofer1.jpg' %}"></a>
                    <a href="#img2">></a>
                </div>
                <a class="cerrar" href="">X</a>
            </div>

            <div class="modal" id="img2">
                <h3>Conoce nuestras ofertas</h3>
                <div class="imagen">
                    <a href="#img1">&#60;</a>
                    <a href="#img3"><img src="{% static 'img/oferta/ofer2.jpg' %}"></a>
                    <a href="#img3">></a>
                </div>
                <a class="cerrar" href="">X</a>
            </div>

            <div class="modal" id="img3">
                <h3>Conoce nuestras ofertas</h3>
                <div class="imagen">
                    <a href="#img2">&#60;</a>
                    <a href="#img4"><img src="{% static 'img/oferta/ofer3.jpg' %}"></a>
                    <a href="#img4">></a>
                </div>
                <a class="cerrar" href="">X</a>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="modal" id="img4">
                <h3>Conoce nuestras ofertas</h3>
                <div class="imagen">
                    <a href="#img3">&#60;</a>
                    <a href="#img1"><img src="{% static 'img/oferta/ofer4.webp' %}"></a>
                    <a href="#img1">></a>
                </div>
                <a class="cerrar" href="">X</a>
            </div>

            <div class="modal" id="img5">
                <h3>Conoce nuestras ofertas</h3>
                <div class="imagen">
                    <a href="#img3">&#60;</a>
                    <a href="#img1"><img src="{% static 'img/oferta/ofer5.jpg' %}"></a>
                    <a href="#img1">></a>
                </div>
                <a class="cerrar" href="">X</a>
            </div>

            <div class="modal" id="img6">
                <h3>Conoce nuestras ofertas</h3>
                <div class="imagen">
                    <a href="#img3">&#60;</a>
                    <a href="#img1"><img src="{% static 'img/oferta/ofer6.jpg' %}"></a>
                    <a href="#img1">></a>
                </div>
                <a class="cerrar" href="">X</a>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="modal" id="img7">
                <h3>Conoce nuestras ofertas</h3>
                <div class="imagen">
                    <a href="#img3">&#60;</a>
                    <a href="#img1"><img src="{% static 'img/oferta/ofer7.png' %}"></a>
                    <a href="#img1">></a>
                </div>
                <a class="cerrar" href="">X</a>
            </div>

            <div class="modal" id="img8">
                <h3>Conoce nuestras ofertas</h3>
                <div class="imagen">
                    <a href="#img3">&#60;</a>
                    <a href="#img1"><img src="{% static 'img/oferta/ofer8.jpg' %}"></a>
                    <a href="#img1">></a>
                </div>
                <a class="cerrar" href="">X</a>
            </div>
            <div class="modal" id="img9">
                <h3>Conoce nuestras ofertas</h3>
                <div class="imagen">
                    <a href="#img3">&#60;</a>
                    <a href="#img1"><img src="{% static 'img/oferta/ofer9.png' %}"></a>
                    <a href="#img1">></a>
                </div>
                <a class="cerrar" href="">X</a>
            </div>
        </article>

    </section>

</body>

</html>